/* Import des polices */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap');

/* Variables CSS */
:root {
    --font-logo: 'Shrikhand', cursive;
    --font-text: 'Roboto', sans-serif;

    --color-primary: #9356DC;
    --color-secondary: #FF79DA;
    --color-tertiary: #99E2D0;
    --grey: #2d2424;
    --grey-2: #efefef;
    --button-gradient: linear-gradient(13deg, #FF79DA -12.44%, #9356DC 115.93%);

    --carte-resto: height: 200px, width: 100%;
}


/* Général */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: var(--font-text);
    display: flex;
    flex-direction: column;
    width: 100%;
}

main {
    flex: 1;
}

/* Ground top */
.ground-top {
    background-color: #f6f6f6;
    height: 260px;
    width: 100%;
    margin-top: 5.97px;
}

/* Logo */
.logo {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.logo img {
    width: 80%;
    max-width: 200px;
}

/* Localisation */
.local {
    color: var(--grey);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background: var(--grey-2);
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.25);
    text-decoration: none;
    border: none;
    height: 47px;
    width: 100%;
    margin: 0;
}

.local svg {
    width: 24px;
    height: 19px;
    position: absolute;
    left: 76px;
}

.ville {
    font-size: 20px;
    font-weight: 500;
    margin-left: 30px;
}

/* Titre principal */
.title-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-main h1,
.title-main h2 {
    text-align: center;
    font-family: var(--font-text);
    color: var(--grey);
}

.title-main h1 {
    font-size: 25px;
    font-weight: 700;
    margin: 20px 0 0;
    padding: 0 10px;
}

.title-main h2 {
    font-size: 16px;
    font-weight: 300;
    margin: 15px 0 20px;
}

/* Bouton principal */
.button1 {
    display: flex;
    justify-content: center;
}

.button1 button {
    width: 70%;
    max-width: 300px;
    height: 52px;
    border-radius: 25px;
    box-shadow: 0px 11px 15px 0px rgba(0, 0, 0, 0.25);
    color: white;
    font-size: 1rem;
    text-align: center;
    border: none;
    font-weight: 500;
    background: var(--button-gradient);
}

/* Fonctionnement */
.fonctionnement h2 {
    font-size: 25px;
    margin: 40px 0 0 20px;
}

.fonctionnement {
    width: 100%;
}

.numero {
    background: var(--color-primary);
    width: 25px;
    height: 25px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    color: #fff;
    position: absolute;
    font-size: 12px;
    font-weight: 500;
    justify-content: center;
    margin: 42px 0 0 15px;
}

.choix_button {
    width: 88%;
    height: 64px;
    border-radius: 20px;
    background: #f6f6f6;
    box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.2);
    border: #f6f6f6;
    font-size: 15px;
    font-weight: bold;
    margin: 22px 0 0 27px;
    padding-left: 20px;
}

.choix ol {
    list-style: none;
    padding: 0;
}

.choix img {
    width: 20px;
    height: 20px;
    margin: 14px 0 20px 71px;
}

/* Restaurants */
.restaurants {
    background-color: #f6f6f6;
    padding-top: 20px;
    margin-top: 120px;
    height: 1150px;
    width: auto;
}

.restaurants_fonctionnement h2 {
    font-size: 22px;
        margin: 23px 0 0 21px;
}

.title-restaurants {
    color: var(--Grey, #353535);
    text-align: center;
    font-size: 36px;
    font-weight: 300;
    margin-top: 27px;
}

/* Styles pour les cartes */
.StyleCard {
    border-radius: 1.25rem;
    background: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 289px;
    height: 233px;
    margin: 18px 15PX 0 15px;
}

.card {
    width: 300px;
    height: 200px;
    border: 1px solid #ccc;
    overflow: hidden;
    position: relative;
}

/* Styles pour l'image de la carte */
.card-image {
    width: 100%;
    height: 200px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
    object-position: center;
    background-position: 50% 50%;
}

.special-card-image1 {
    width: 100%;
    height: 158px;
    border-radius: 1.25rem 1.25rem 0 0;
    background-image: url("assets/Images et textes Ohmyfood/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
    background-size: 104%;
    background-position: center 100%;
    background-repeat: no-repeat
}


.special-card-image2 {
    width: 100%;
    height: 200px;
    border-radius: 1.25rem 1.25rem 0 0;
    background-image: url("assets/Images et textes Ohmyfood/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
    background-size: 105%;
    background-position: center 61%;
    background-repeat: no-repeat
}

.special-card-image3 {
    width: 100%;
    height: 200px;
    border-radius: 1.25rem 1.25rem 0 0;
    background-image: url("assets/Images et textes Ohmyfood/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
    background-size: 101%;
    background-position: center 104%;
    background-repeat: no-repeat;
}


  .special-card-image4 {
      width: 100%;
      height: 200px;
      border-radius: 1.25rem 1.25rem 0 0;
      background-image: url("assets/Images et textes Ohmyfood/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg"
        );
      background-size: 101%;
      background-position: center 104%;
      background-repeat: no-repeat;
}

/* Styles pour le contenu de la carte */
.card-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    padding-left: 20px;
}

/* Styles pour les titres et sous-titres de cartes */
.card-title {
    Margin-bottom: 0.3rem;
    font-size: 18px;
}

.card-subtitle {
    font-size: 18px;
    margin: 1px 0 15px 0;
}

/* Styles pour les liens avec les cartes */
a {
    text-decoration: none;
    color: inherit;
}

.nouveau {
    background: var(--Primary, #99E2D0);
    width: 21%;
    height: 5.5%;
    border-radius: 8px;
    display: flex;
    align-items: center;
    color: #008766;
    position: absolute;
    left: 61%;
    font-size: 22px;
    font-weight: 500;
    justify-content: center;
    align-items: center;
    margin: 22px 0 0 0;
}

.like {
    width: 7%;
    height: 8rem;
    display: flex;
    align-items: center;
    position: absolute;
    left: 35rem;
}

.footer{
    display: flex;
    align-items: flex-start;
    background-color: #353535;
    color: #f6f6f6;
    padding-left:20px ;
}


/* Media Queries pout les tablets (plus de 720px) */

@media (min-width: 720px) {

    /* Général */
    html,
    body {
        height: 100%;
        margin: 0;
        padding: 0;
        font-family: var(--font-text);
    }

    body {
        display: flex;
        flex-direction: column;
        margin: auto;
    }

    /* Contenu principal */
    main {
        flex: 1;
    }

    /* Ground top */
    .ground-top {
        background-color: #f6f6f6;
        height: 35.4rem;
        width: 100%;
        margin-top: 9.97px;
    }

    /* Logo */
    .logo {
        display: flex;
        justify-content: center;
        margin: 42px 0 26px;
    }

    img {
        width: 350px;
    }

    .local svg {
        width: 5%;
        height: 18%;
        display: flex;
        align-items: center;
        position: absolute;
        left: 12rem;
        align-content: center;
    }

    .ville {
        font-size: 33px;
        font-weight: 500;
        margin: 0 0 0 80px;
    }

    /* Localisation */
    .local {
        color: var(--Grey, #2d2424);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 31px;
        background: var(--Grey-2, #efefef);
        box-shadow: 0px 2px 6px 6px rgba(0, 0, 0, 0.25);
        text-decoration: none;
        border: none;
        height: 95px;
        width: 100%;
        margin: 0;
    }

    /* Titre principal */
    .title-main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .title-main h1,
    .title-main h2 {
        text-align: center;
        font-family: var(--font-text);
        color: var(--Grey, #353535);
    }

    .title-main h1 {
        font-size: 45px;
        font-weight: 700;
        margin: 70px 0px 0 0;
        padding: 0px 105px 0 107px;
    }

    .title-main h2 {

        font-size: 34px;
        font-weight: 300;
        margin: 27px 0px 55px 33px;
    }

    /* Bouton principal */
    .button button {
        width: 440px;
        height: 105px;
        border-radius: 3.5625rem;
        box-shadow: 0px 11px 15px 0px rgba(0, 0, 0, 0.25);
        color: white;
        font-size: 2rem;
        text-align: center;
        border: none;
        font-weight: 500;
        margin: 10px 0 0 124px;
        background: var(--Button-Gradient, linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%));
    }

    /* Fonctionnement */
    .fonctionnement h2 {
        font-size: 47px;
        margin: 95px 0 0 33px;
    }

    .numero {
        background: var(--Primary, #9356DC);
        width: 3rem;
        height: 3rem;
        border-radius: 100px;
        display: flex;
        align-items: center;
        color: #fff;
        position: absolute;
        font-size: 27px;
        justify-content: center;
        margin: 107px 0 0 27px;
    }

    .choix_button {
        width: 37.15538rem;
        height: 8.52369rem;
        border-radius: 3rem;
        background: #f6f6f6;
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.20);
        border: #f6f6f6;
        font-size: 27px;
        font-weight: bold;
        margin: 59px 0 0 54px;
    }

    .choix ol {
        list-style: none;
        padding: 0;
    }

    .choix img {
        width: 30px;
        height: 40px;
        margin: 14px 0 28px 147px;
    }

    /* Restaurants */
    .restaurants {
        background-color: #f6f6f6;
        padding-top: 20px;
        margin-top: 120px;
        height: 2400px;
        width: auto;
    }

    .restaurants_fonctionnement h2 {
        font-size: 43px;
        margin: 75px 0 0 33px;
    }

    .title-restaurants {
        color: var(--Grey, #353535);
        text-align: center;
        font-size: 36px;
        font-weight: 300;
        margin-top: 27px;
    }

    /* Styles pour les cartes */
    .StyleCard {
        border-radius: 2.25rem;
        background: #FFF;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 622px;
        height: 465px;
        margin: 40px 0 0 25px;
    }

    .card {
        width: 300px;
        height: 200px;
        border: 1px solid #ccc;
        overflow: hidden;
        position: relative;
    }

    /* Styles pour l'image de la carte */
    .card-image {
        width: 100%;
        height: 344px;
        border-radius: 1.25rem 1.25rem 0 0;
        object-fit: inherit;
        object-position: center;
        background-position: 50% 50%;
    }

    .special-card-image1 {
        width: 100%;
        height: 344px;
        border-radius: 1.25rem 1.25rem 0 0;
        background-image: url("assets/Images et textes Ohmyfood/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
        background-size: 104%;
        background-position: center 100%;
        background-repeat: no-repeat
    }


    .special-card-image2 {
        width: 100%;
        height: 344px;
        border-radius: 1.25rem 1.25rem 0 0;
        background-image: url("assets/Images et textes Ohmyfood/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
        background-size: 105%;
        background-position: center 61%;
        background-repeat: no-repeat
    }

    .special-card-image3 {
        width: 100%;
        height: 343px;
        border-radius: 1.25rem 1.25rem 0 0;
        background-image: url("assets/Images et textes Ohmyfood/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
        background-size: 101%;
        background-position: center 104%;
        background-repeat: no-repeat;
    }

    /* Styles pour le contenu de la carte */
    .card-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
        padding-left: 20px;
    }

    /* Styles pour les titres et sous-titres de cartes */
    .card-title {
        margin-bottom: -0.3rem;
        font-size: 35px;
    }

    .card-subtitle {
        font-size: 30px;
        margin-top: 10px;
    }

    /* Styles pour les liens avec les cartes */
    a {
        text-decoration: none;
        color: inherit;
    }

    .nouveau {
        background: var(--Primary, #99E2D0);
        width: 21%;
        height: 5.5%;
        border-radius: 8px;
        display: flex;
        align-items: center;
        color: #008766;
        position: absolute;
        left: 61%;
        font-size: 22px;
        font-weight: 500;
        justify-content: center;
        align-items: center;
        margin: 22px 0 0 0;
    }

    .like {
        width: 7%;
        height: 8rem;
        display: flex;
        align-items: center;
        position: absolute;
        left: 35rem;
    }

    /* Footer */


    .footer {
        flex: 1;
        background-color: #353535;
    }

    .column {
        margin: 0 0 0 10px;
        color: #f6f6f6;
        display: flex;
        flex-direction: column;
        width: auto;
        height: 320px;
    }

    .column p {

        font-size: 29px;
        display: flex;
        flex-direction: row;
        margin: 10px 0 0 30px;
        align-items: baseline;
    }

    .footer__svg {
        width: 50px;
        height: 22px;
        margin: 0 0px 0px -13px;
    }

    .footer__logo {
        width: 178px;
        height: 52px;
        margin: 35px 0 20px 34px;
    }

}

/* Media Queries pour les desktops (plus de 1024px) */
@media (min-width: 1024px) {
    .logo img {
        width: 50%;
        max-width: 300px;
    }

    .local {
        height: 90px;
    }

    .local svg {
        width: 40px;
        height: 40px;
    }

    .ville {
        font-size: 30px;
    }

    .title-main h1 {
        font-size: 40px;
    }

    .title-main h2 {
        font-size: 30px;
    }

    .button1 button {
        width: 50%;
        max-width: 500px;
        height: 70px;
    }

    .fonctionnement h2 {
        font-size: 35px;
    }

    .numero {
        width: 3rem;
        height: 3rem;
        font-size: 20px;
    }

    .choix_button {
        width: 60%;
        height: 70px;
        font-size: 25px;
    }

    .restaurants_fonctionnement h2 {
        font-size: 40px;
    }

    .title-restaurants {
        font-size: 32px;
    }

    .StyleCard {
        width: 70%;
        max-width: 600px;
    }

    .card-title {
        font-size: 30px;
    }

    .card-subtitle {
        font-size: 22px;
    }

    .card-description {
        font-size: 18px;
    }
}