/* Import des polices */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap');

/* Variables CSS */
:root {
    --font-logo: 'Shrikhand', cursive;
    --font-text: 'Roboto', sans-serif;

    --color-primary: #9356DC;
    --color-secondary: #FF79DA;
    --color-tertiary: #99E2D0;
    --grey: #2d2424;
    --grey-2: #efefef;
    --button-gradient: linear-gradient(13deg, #9356DC -12.44%, #FF79DA 115.93%);

    --carte-resto: height: 200px, width: 100%;
}


/* Général */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: var(--font-text);
    display: flex;
    flex-direction: column;
    width: 100%;
}

main {
    flex: 1;
}

/* Ground top */
.ground-top {
    background-color: #f6f6f6;
    height: 260px;
    width: 100%;
    margin-top: 5.97px;
}

/* Logo */
.logo {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.logo img {
    width: 127%;
    max-width: 200px;
}

.logo a {
    text-decoration: none;
    color: inherit;
    width: 42%;
    height: 42%;
    display: flex;
    justify-content: center;
}

/* Localisation */
.local {
    color: var(--grey);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background: var(--grey-2);
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.25);
    text-decoration: none;
    border: none;
    height: 47px;
    width: 100%;
    margin: 0;
}

.local svg {
    width: 24px;
    height: 19px;
    position: absolute;
    left: 76px;
}

.ville {
    font-size: 20px;
    font-weight: 500;
    margin-left: 30px;
}

/* Titre principal */
.title-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-main h1,
.title-main h2 {
    text-align: center;
    font-family: var(--font-text);
    color: var(--grey);
}

.title-main h1 {
    font-size: 23px;
    font-weight: 700;
    margin: 20px 0 0;
    padding: 0 23px;
}

.title-main h2 {
    font-size: 16px;
    font-weight: 300;
    margin: 10px 0px 25px 0px;
    padding: 0px 20px;
}

/* Bouton principal */
/* Conteneur du bouton */
.button1 {
    display: flex;
    justify-content: center;
}

/* Style du bouton */
.button1 button {
    width: 70%;
    max-width: 300px;
    height: 52px;
    border-radius: 25px;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.25);
    color: white;
    font-size: 1rem;
    text-align: center;
    border: none;
    font-weight: 500;
    background: var(--button-gradient);
    transition: filter 0.3s;
}

/* Effet de surbrillance au survol */
.button1 button:hover {
    filter: brightness(1.15);
    box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.30);
}

/* Fonctionnement */
.fonctionnement h2 {
    font-size: 25px;
    margin: 40px 0 0 20px;
}

.fonctionnement {
    width: 100%;
}

.numero {
    background: var(--color-primary);
    width: 25px;
    height: 25px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    color: #fff;
    position: absolute;
    font-size: 12px;
    font-weight: 500;
    justify-content: center;
    margin: 42px 0 0 15px;
}

.choix_button {
    width: 88%;
    height: 64px;
    border-radius: 20px;
    background: #f6f6f6;
    box-shadow: 0px 2px 9px 0px rgba(0, 0, 0, 0.2);
    border: #f6f6f6;
    font-size: 15px;
    font-weight: bold;
    margin: 22px 0 0 27px;
    padding-left: 20px;
}

.choix ol {
    list-style: none;
    padding: 0;
}

.choix img {
    width: 20px;
    height: 20px;
    margin: 14px 0 20px 71px;
}

/* Restaurants */
.restaurants {
    background-color: #f6f6f6;
    padding-top: 20px;
    margin-top: 60px;
    height: 1069px;
    width: auto;
}

.restaurants_fonctionnement h2 {
    font-size: 22px;
    margin: 23px 0 0 21px;
}

.title-restaurants {
    color: var(--Grey, #353535);
    text-align: center;
    font-size: 36px;
    font-weight: 300;
    margin-top: 27px;
}

/* Styles pour les cartes */
.StyleCard {
    border-radius: 1.25rem;
    background: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 91%;
    height: 233px;
    margin: 18px 15PX 0 15px;
}

.card {
    width: 300px;
    height: 200px;
    border: 1px solid #ccc;
    overflow: hidden;
    position: relative;
}

/* Styles pour l'image de la carte */


.special-card-image1 {
    width: 100%;
    height: 158px;
    border-radius: 1.25rem 1.25rem 0 0;
    background-image: url("assets/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
    background-size: 104%;
    background-position: center 100%;
    background-repeat: no-repeat
}


.special-card-image2 {
    width: 100%;
    height: 200px;
    border-radius: 1.25rem 1.25rem 0 0;
    background-image: url("/assets/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
    background-size: 105%;
    background-position: center 61%;
    background-repeat: no-repeat
}

.special-card-image3 {
    width: 100%;
    height: 200px;
    border-radius: 1.25rem 1.25rem 0 0;
    background-image: url("assets/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
    background-size: 101%;
    background-position: center 104%;
    background-repeat: no-repeat;
}


.special-card-image4 {
    width: 100%;
    height: 200px;
    border-radius: 1.25rem 1.25rem 0 0;
    background-image: url("assets/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg"
        );
    background-size: 101%;
    background-position: center 104%;
    background-repeat: no-repeat;
}

/* Styles pour le contenu de la carte */
.card-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    padding-left: 20px;
}

/* Styles pour les titres et sous-titres de cartes */
.card-title {
    Margin-bottom: 0.3rem;
    font-size: 18px;

}

.card-subtitle {
    font-size: 18px;
    margin: 1px 0 15px 0;
    font-weight: 300;
}

a {
    text-decoration: none;
    color: inherit;
}

.nouveau {
    background: var(--Primary, #99E2D0);
    width: 22%;
    height: 27px;
    border-radius: 2px;
    display: flex;
    align-items: center;
    color: #008766;
    position: absolute;
    left: 70%;
    font-size: 13px;
    font-weight: 500;
    justify-content: center;
    align-items: center;
    margin: 12px 0 0 0
}

/* Coeurs */

.like {
    width: 7%;
    height: 4rem;
    display: flex;
    align-items: center;
    position: absolute;
    left: 82%;
    border: #2d2424;
}

.restaurants .like input[type="checkbox"] {
    display: none;
}

.restaurants .like input[type="checkbox"]:checked+label {
    background-image: url('/assets/images/logo/Like.svg');
}

.restaurants .like label {
    display: block;
        width: 29px;
        height: 27.1px;
        background-image: url(/assets/images/logo/téléchargement.png);
        background-size: cover;
        position: absolute;
        bottom: 99px;
    }
/* footer */

.footer {
    display: flex;
    align-items: flex-start;
    background-color: #353535;
    color: #f6f6f6;
    padding-left: 20px;
    height: 173px;
}

.footer__logo {
    margin-top: 20px;
}

.footer__svg {
    margin: 0px 4px 0 0;
}

.footer p {
    font-size: 16px;
    margin: 9px 0 0px 0px;
}


/* bureau */

@media (min-width: 1400px) {

    .logo img {
        width: 80%;
        max-width: 230px;
    }

    .local {
        box-shadow: none;
    }

    .ville {
        font-size: 15px;
        margin: 0;
    }

    .local svg {
        position: relative;
        left: auto;
        bottom: 1px;
        width: 15px;
    }

    .ground-top {
        margin: inherit;
        height: 235px;
    }

    .title-main h1 {
        font-size: 44px;
    }

    .title-main h2 {
        font-size: 20px;
    }

    .button1 button {
        width: 15%;
        height: 60px;
    }

    /* Style pour la liste */
    .fonctionnement h2 {
        margin-left: 14rem;
        font-size: 28px;
        margin: 50px 0px 15px 233px
    }

    .choix {
        margin: 0 0 0 175px;
        width: 80%;

    }


    .choix_button {
    width: 100%;
        height: 84px;
        box-shadow: 7px 7px 9px 0px rgba(0, 0, 0, 0.1);
        font-size: 18px;
        font-weight: bold;
        margin: 20px 0 0 41px;
    }

    .choix ol {
        display: flex;
        justify-content: flex-start;
        padding: 0;
        margin: 0 0 0 30px;
        list-style: none;
    }

    .choix li {
                display: flex;
                    align-items: center;
                    margin-right: 0;
                    justify-content: flex-start;
                    WIDTH: 100%;
    }

    /* Style pour les images du contenu fonctionnement */
    .choix .numero img {
        width: 71%;
            height: 30px;
            margin: 0px 0px 0px 150px;;
    }

    /* Style pour les numéros */
    .choix .numero {
        width: 29px;
        height: 29px;
        margin: 15px 0 0 30px;
        font-size: 15px;
        font-weight: 300;
    }

    .restaurants_fonctionnement h2 {
        font-size: 28px;
        position: absolute;
        margin: 91px 0px 0px 233px;
    }

    .title-restaurants {
        font-size: 48px;
    }

    a {
        text-decoration: none;
        color: inherit;
        width: 42%;
        height: 42%;
        display: flex;
        justify-content: center;
    }

    /* Nouveau style pour les cartes en grille */
    .restaurants {
        gap: 25px;
        height: 800px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        padding: 50px 140px 0px 140px;
        align-content: center;
        justify-content: space-evenly
    }

    .StyleCard {
        position: relative;
        /* Nécessaire pour le positionnement absolu des éléments enfants */
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 1.25rem;
        background: #FFF;
        overflow: hidden;
        /* Assure que le contenu ne dépasse pas les bords de la carte */
        box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
        width: 100%;
        /* Prend 80% de la largeur de la colonne */
        height: 320px;
        /* Hauteur fixe */
        margin: inherit;
    }

    /* Styles pour l'image de la carte */
    .special-card-image1 {
        width: 100%;
        height: 217px;
        border-radius: 1.25rem 1.25rem 0 0;
        background-image: url("assets/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
        background-size: 100%;
        background-position: center 70%;
        background-repeat: no-repeat
    }


    .special-card-image2 {
        width: 100%;
        height: 217px;
        border-radius: 1.25rem 1.25rem 0 0;
        background-size: 100%;
        background-position: center 56%;
    }

    .special-card-image3 {
        width: 100%;
        height: 217px;
        border-radius: 1.25rem 1.25rem 0 0;
        background-image: url("assets/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
        background-size: 100%;
        background-position: center 70%;
        background-repeat: no-repeat;
    }


    .special-card-image4 {
        width: 100%;
        height: 217px;
        border-radius: 1.25rem 1.25rem 0 0;
        background-image: url("assets/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg"
            );
        background-size: 102%;
        background-position: center 68%;
        background-repeat: no-repeat
    }

    .special-card-image1 {
        background-image: url("assets/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
    }

    .special-card-image2 {
        background-image: url("assets/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
    }

    .special-card-image3 {
        background-image: url("assets/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
    }

    .special-card-image4 {
        background-image: url("assets/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
    }

    /* Style spécifique pour le badge "Nouveau" */
    .nouveau {
        background: var(--Primary, #99E2D0);
        width: 15%;
        height: 35px;
        border-radius: 2px;
        display: flex;
        align-items: center;
        color: #008766;
        position: absolute;
        top: 7px;
        margin-left: 63px;
        font-size: 18px;
        font-weight: 500;
        justify-content: center;
        box-sizing: border-box;
        border-radius: 3px;
    }

    /* Style spécifique pour les icônes de coeur */
    .like {
        Width: 72%;
        height: 30%;
        left: 85%;
        bottom: 2%;
        margin-right: 0;

    }

    .like input[type="checkbox"] {
        display: none;
    }

    .like input[type="checkbox"]:checked+label {
        background-image: url('assets/images/logo/Like.svg');
    }


    .restaurants .like label {
        height: 31%;
    }

    /* Ajustement de la carte et de l'image */
    .card {
        width: 100%;
        /* Les cartes prennent toute la largeur de leur cellule de grille */
        height: auto;
        /* Hauteur automatique pour conserver les proportions */
        position: relative;
        /* Nécessaire pour positionner les éléments internes */
    }

    .card-title {
        font-size: 20px;
        /* Taille de la police pour le titre */
        margin-bottom: 0.3rem;
    }

    .card-subtitle {
        font-size: 16px;
        /* Taille de la police pour le sous-titre */
        margin: 1px 0 15px 0;
        font-weight: 300;
    }


    /* footer */

    .footer {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        /* Ajoute un peu de padding pour l'espacement */
        height: 145px;
    }

    .footer .column {
        display: flex;
        align-items: center;
        gap: 13px;
        /* Espacement entre les éléments */
        margin: 0px 301px 35px 0px;


    }

    .footer__logo {
        margin: 0 0px 0 780px;
        width: 135px;
        position: absolute;
    }

    .footer__svg {
        margin-right: 8px;
        width: 15px;


        /* Ajoute un espace à droite des icônes SVG */
    }

    .footer p {
        display: flex;
        align-items: center;
        margin: 0;
        font-size: 18px;
    }

    .footer .soloP {
        margin-left: 69px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 26px;
    }
}