/* Import des polices */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap');

/* Variables CSS */
:root {
    --font-logo: 'Shrikhand', cursive;
    --font-text: 'Roboto', sans-serif;
    --color-primary: #9356DC;
    --color-secondary: #FF79DA;
    --color-tertiary: #99E2D0;
    --grey: #2d2424;
    --grey-2: #efefef;
    --button-gradient: linear-gradient(13deg, #9356DC -12.44%, #FF79DA 115.93%);
    --carte-resto: height: 200px, width: 100%;
}

/* Styles globaux et éléments communs */

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: var(--font-text);
    display: flex;
    flex-direction: column;
    width: 100%;
}

main {
    flex: 1;
}

/* Ground top */
.ground-top {
    height: 158px;
    width: 100%;
}

/* Logo */

.logo {
    display: flex;
    align-items: center;
}

.logo a {
        text-decoration: none;
        color: inherit;
        width: 42%;
        height: 42%;
        display: flex;
        justify-content: center;
    }
/* Style pour l'image de la flèche de retour */

.back-icon {
    width: 30px;
    height: auto;
    margin: 10px 45px 5px 15px;
}

/* Style pour le logo principal */

.main-logo {
    width: 150px;
    height: auto;
    margin: 20px 0 10px 0;
}

.image1 {
    width: 100%;
    height: 233px;
    background-image: url("/assets/Images et textes Ohmyfood/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
    background-size: 109%;
    background-position: center 100%;
    background-repeat: no-repeat
}



/* Titre principal */
.title-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-main h2 {
    text-align: center;
    font-family: var(--font-text);
    color: var(--grey);
}

h1 {
    font-size: 23px;
    font-weight: 700;
    margin: 20px 0 0;
    padding: 0 23px;
}

.title-main h2 {
    font-size: 16px;
    font-weight: 300;
    margin: 10px 0px 25px 0px;
    padding: 0px 20px;
}

 .plats {
     margin: 59px 0 0 23px;
     font-weight: 300;
     position: relative;
     display: inline-block;
 }



 .plats::after {
     content: '';
     position: absolute;
     left: 0px;
     right: 257px;
     top: 31px;
     height: 4px;
     background-color: var(--color-tertiary);
 }

/* Bouton principal */

.button1 {
    display: flex;
    justify-content: center;
}

/* Style du bouton */
.button1 button {
    width: 70%;
    max-width: 300px;
    height: 52px;
    border-radius: 25px;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.25);
    color: white;
    font-size: 1rem;
    text-align: center;
    border: none;
    font-weight: 500;
    background: var(--button-gradient);
    transition: filter 0.3s;
}

/* Effet de surbrillance au survol */
.button1 button:hover {
    filter: brightness(1.15);
    box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.30);
}

/* Fonctionnement */
.fonctionnement h2 {
    font-size: 25px;
    margin: 40px 0 0 20px;
}

.fonctionnement {
    width: 100%;
}

/* Restaurants */
.restaurants {
    background-color: #f6f6f6;
    padding-top: 20px;
    margin-top: 60px;
    height: 1115px;
    width: auto;
}



.restaurants_fonctionnement h2 {
    font-size: 22px;
    margin: 23px 0 0 21px;
}

.title-restaurants {
    color: var(--Grey, #353535);
    text-align: center;
    font-size: 36px;
    font-weight: 300;
    margin-top: 27px;
}

/* Styles pour les cartes */
.StyleCard {
    border-radius: 1.25rem;
    background: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 91%;
    height: 233px;
    margin: 18px 15PX 0 15px;
}

.card {
    width: 300px;
    height: 200px;
    border: 1px solid #ccc;
    overflow: hidden;
    position: relative;
}

/* Styles pour le contenu de la carte */
.card-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    padding-left: 20px;
}

/* Styles pour les titres et sous-titres de cartes */
.card-title {
    Margin-bottom: 0.3rem;
    font-size: 18px;

}

.card-subtitle {
    font-size: 18px;
    margin: 1px 0 15px 0;
    font-weight: 300;
}

a {
    text-decoration: none;
    color: inherit;
}

.nouveau {
    background: var(--Primary, #99E2D0);
    width: 22%;
    height: 27px;
    border-radius: 2px;
    display: flex;
    align-items: center;
    color: #008766;
    position: absolute;
    left: 70%;
    font-size: 13px;
    font-weight: 500;
    justify-content: center;
    align-items: center;
    margin: 12px 0 0 0
}

/* Coeurs */

.like {
    width: 7%;
    height: 4rem;
    display: flex;
    align-items: center;
    position: absolute;
    left: 82%;
    border: #2d2424;
}

.restaurants .like input[type="checkbox"] {
    display: none;
}

.restaurants .like input[type="checkbox"]:checked+label {
    background-image: url('assets/Images et textes Ohmyfood/images/logo/Like.svg');
}

.restaurants .like label {
    display: block;
    width: 32px;
    height: 21.1px;
    background-image: url('/assets/Images et textes Ohmyfood/images/logo/téléchargement.png');
    background-size: cover;
}

/* footer */

.footer {
    display: flex;
    align-items: flex-start;
    background-color: #353535;
    color: #f6f6f6;
    padding-left: 20px;
    height: 173px;
}

.footer__logo {
    margin-top: 20px;
}

.footer__svg {
    margin: 0px 4px 0 0;
}

.footer p {
    font-size: 16px;
    margin: 9px 0 0px 0px;
}

/* bureau */

@media (min-width: 1400px) {


    header {
            display: flex;
            justify-items: center;
            justify-content: center;
        }
    
        .logo img {
            width: 250px;
            margin: 30px 0 30px 0;
        }
    
        .back-icon {
            position: absolute;
            width: 40px;
            top: 13px;
            right: 93%;
        }
    
        .ground-top {
            margin: inherit;
            height: 235px;
        }
    
        .image1 {
            height: 440px;
            background-size: 100%;
            background-position: center 58%;
        }
    
        h1 {
            font-size: 34px;
            font-family: var(--font-logo);
        }
    
        .title-main h2 {
            font-size: 20px;
        }
    
        .button1 button {
            width: 69%;
            height: 65px;
            border-radius: 30px;
        }
    
        .restaurants_fonctionnement h2 {
            font-size: 28px;
            position: absolute;
            margin: 91px 0px 0px 151px;
        }
    
        .title-restaurants {
            font-size: 48px;
        }
    
        
    
        /* Nouveau style pour les cartes en grille */
    
        .restaurants {
            width: 70%;
            height: 1520px;
            display: flex;
            padding: inherit;
            margin: auto;
            position: relative;
            bottom: 51px;
            border-radius: 30px 30px 0 0;
            flex-wrap: nowrap;
            flex-direction: column;
            align-items: flex-start;
        }
    
        .titre {
            margin: 51px 0PX 0px 0px;
            width: 100%;
            justify-content: center;
            align-items: center;
            display: flex;
            font-weight: 100;
        }
    
        .menu {
            margin: 0px 0PX 0px 165px
        }
    
        .plats {
            margin: 55px 29px 23px;
            font-weight: 300;
            position: relative;
            display: block;
        }
    
        .plats::after {
            content: '';
            position: absolute;
            left: 0px;
            right: 245px;
            top: 25px;
            height: 4px;
            background-color: var(--color-tertiary);
        }

    .StyleCard {
        display: flex;
        align-content: flex-start;
        border-radius: 1.25rem;
        background: #FFF;
        overflow: hidden;
        box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
        width: 230%;
        height: 84px;
    }


    /* Style spécifique pour les icônes de coeur */
    .restaurants .like {
        Width: 6%;
        height: 5%;
        left: 66%;
        bottom: 0%;
        top: 56px;

    }

    .restaurants .like input[type="checkbox"] {
        display: none;
    }

    .restaurants .like input[type="checkbox"]:checked+label {
        background-image: url('/assets/Images et textes Ohmyfood/images/logo/Like.svg');
    }

    .restaurants .like label {
        display: block;
        width: 32px;
        height: 30.1px;
        background-image: url('/assets/Images et textes Ohmyfood/images/logo/téléchargement.png');
        background-size: cover;
    }


    /* Ajustement de la carte et de l'image */
    .card {
        width: 100%;
        height: auto;
        position: relative;
    }

    .card-title {
        font-size: 20px;
        margin-bottom: 0.3rem;
    }

    .card-subtitle {
        font-size: 16px;
        margin: 1px 0 15px 0;
        font-weight: 300;
    }


    .button1 {
        position: relative;
        top: 42px;
        left: 196px;
    }


    /* footer */

    .footer {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        height: 136px;
        margin-top: 1674px;
    }

    .footer .column {
        display: flex;
        align-items: center;
        gap: 13px;
        /* Espacement entre les éléments */
        margin: 0px 301px 35px 0px;


    }

    .footer__logo {
        margin: 0 0px 0 780px;
        width: 135px;
        position: absolute;
    }

    .footer__svg {
        margin-right: 8px;
        width: 15px;
    }

    .footer p {
        display: flex;
        align-items: center;
        margin: 0;
        font-size: 18px;
    }

    .footer .soloP {
        margin-left: 69px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 26px;

    }
}